<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyView:Superheroes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/superhero-movies.css">
    <script src="/javascript/superhero-movies.js"></script>

</head>

<body>
    <div id="allcomments-container">
        <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
            <div class="user-comments">
                {{#if userData}} 
                {{var i = 1;}}
                {{userData.forEach(function(results)}}
                <ul>
                    <li>{{results.username}}</li>
                    <li>{{results.date}}</li>

                    {{!-- <li class="username" name="username">Username</li>
                    <li class="date" name="date">6/28/2020</li> --}}
                </ul>
                <id class="messages">
                    <li>{{results.date}}</li>
                </id>
                {{/if}}
            </div>
        </div>

    </div>



    <form class="comment-form">
        <div class="comment-wrapper">
            <textarea class="comment-input" id="message" type="text" placeholder="Join the discussion"></textarea>
            {{!-- <div class="sent-btn">
            <button class="comment-btn">Enter</button>
        </div> --}}
        </div>
    </form>




<script src="/reload/reload.js"></script>
</body>
</html>